/* Project Custom CSS */

/* RIBBON */
div.o_project__status_ribbon ,
span.o_project__status_ribbon {
    padding: 0;
}

.o_project__ribbon-top-right {
    right: 0;
}

.prject_state_wrapper {
    float: right;
}

div.o_project__status_ribbon a:first-of-type,
div.o_project__status_ribbon button:first-of-type.o_project_status--button,
span.o_project__status_ribbon a:first-of-type,
span.o_project__status_ribbon button:first-of-type.o_project_status--button {
    display: flex;
    float: right;
    color: #fff;
    font: 500 0.9rem/1 'Lato', sans-serif;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 8px 33px;
    border-radius: 1rem;
    height: 1rem;
    width: 5rem;
    border-style: none;
    outline-style: none;
}

.o_project__ribbon-top-right a:first-of-type,
.o_project__ribbon-top-right button:first-of-type:not(.dropdown-item){
    /*left: 178px;*/
    /*top: 2px;*/
    /*transform: rotate(61deg);*/
}

.project_type_ids {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.o_project--zindex {
    z-index: 1000!important;
}

/* BADGE */
div.o_project__status_banner,
span.o_project__status_banner {
    position: absolute;
    top: 60%;
    left: 78%;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}
.o_project__status_badge {
    height: 100%;

}
.oe_kanban_color__bg_0 {
    background-color: #00000073;
}
.oe_kanban_color__bg_1 {
    background-color: #F06050;
}
.oe_kanban_color__bg_2 {
    background-color: #F4A460;
}
.oe_kanban_color__bg_3 {
    background-color: #F7CD1F;
}
.oe_kanban_color__bg_4 {
    background-color: #6CC1ED;
}
.oe_kanban_color__bg_5 {
    background-color: #814968;
}
.oe_kanban_color__bg_6 {
    background-color: #EB7E7F;
}
.oe_kanban_color__bg_7 {
    background-color: #2C8397;
}
.oe_kanban_color__bg_8 {
    background-color: #475577;
}
.oe_kanban_color__bg_9 {
    background-color: #D6145F;
}
.oe_kanban_color__bg_10 {
    background-color: #30C381;
}
.oe_kanban_color__bg_11 {
    background-color: #9365B8;
}
/* Opposite color used for the text, */
.oe_kanban_color__text_0 {
    color: #ffffff;
}
.oe_kanban_color__text_1 {
    color: #ffffff;
}
.oe_kanban_color__text_2 {
    color: #000000;
}
.oe_kanban_color__text_3 {
    color: #000000;
}
.oe_kanban_color__text_4 {
    color: #000000;
}
.oe_kanban_color__text_5 {
    color: #ffffff;
}
.oe_kanban_color__text_6 {
    color: #ffffff;
}
.oe_kanban_color__text_7 {
    color: #000000;
}
.oe_kanban_color__text_8 {
    color: #ffffff;
}
.oe_kanban_color__text_9 {
    color: #ffffff;
}
.oe_kanban_color__text_10 {
    color: #ffffff;
}
.oe_kanban_color__text_11 {
    color: #ffffff;
}

.oe_badge_tree_view {
    padding: 1rem;
}

/* defautl custom */
.hr-pretty {
    border: 0;
    height: 1.5px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.form-title {
    letter-spacing: 2.5px;
    font-weight: 800;
}

/* Used to add the Correct color for Enterprise edition (otherwise the Groups Header results in black and aren't nice). */
.enterprise-override .o_horizontal_separator {
    color: #875A7B;
    font-weight: 600;
    font-size: 2rem;
}

.enterprise-override.o_horizontal_separator {
    color: #875A7B;
    font-weight: 600;
    font-size: 2rem;
}



/*Customize the Selection state where is not used in bread */
.status__alert-custom {
    border-radius: 20px;
    padding: .5rem 2rem;
}

.status__alert-custom span {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
}

ribbon.web_ribbon_custom-itundra span.bg-danger {
    font-size: 4rem;
    color: blue;

}

/*  Adds Yellow status to Projects StateSelectionWidget */

.o_status_yellow {
    background-color: #fff200;
}

.o_kanban_card_manage_pane.dropdown-menu {
    z-index: 1100;
}

/* HACK: User for the Project View when adding the Stage Label (name="kanban_state" widget="state_selection")
into a Tree View. THe default View will hide the
Label selection behing the Tree Line. adding this it will bring it on the fron
*/

.o_state_selection_cell {
    overflow: inherit!important;
}

/*HACK
table thead tr th[data-name="answer"] {
    width: 200px!important;
}

table thead tr th[data-name="document_date"] {
    width: 800px!important;
}
 */